checkpoints/*
*.egg-info/*
*.pyc
viz/*
__pycache__
wandb/*
create_data/*/*/test_examples
create_data/*/*/logs
examples_internal/*
logs/*
.vscode/
checkpoint/*
output/*
inference_results/*
visu/*
*.jpg
.ipynb_checkpoints/demo-checkpoint.ipynb
*.idea
*.ipynb_checkpoints
datasets/*
.github
